.layout {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: .5em;
  margin: .5rem;
  height: 100vh;
  background-size: cover;
  background-position: center;
  // animation: bgCycle 18s infinite;

}

@keyframes bgCycle {
  0% {
    background-image: url("../../assets/image/menu1.jpg");
  }

  16% {
    background-image: url("../../assets/image/menu2.webp");
  }

  33% {
    background-image: url("../../assets/image/menu3.jpg");
  }

  50% {
    background-image: url("../../assets/image/menu4.jpg");
  }

  66% {
    background-image: url("../../assets/image/menu4.webp");
  }

  83% {
    background-image: url("../../assets/image/menu5.jpg");
  }

  100% {
    background-image: url("../../assets/image/menu6.jpg");
  }
}