@import '../../../App.scss';

.promo {
  width: 95%;
  margin: 0 auto;
  padding: .5em;
  padding-top: 2em;

  .destination {
    width: 100%;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;

    .intro {
      font-size: 1.5em;
      font-weight: 500;
    }

    .voir {
      padding: .5em;
      border-radius: .5em;
      border: .1em solid $font-1;
      width: fit-content;
      display: flex;
      gap: .5em;

      .voir-tout {
        width: 1em;
        height: 1em;
        background-image: url('../../../assets/icon/arrow-sm-right-svgrepo-com.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .promos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: $font-2;

    .carte {
      width: 46%;
      height: auto;
      aspect-ratio: 7/3;
      background-image: url('../../../assets/image/menu2.webp');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: .5em;

      display: flex;
      justify-content: space-between;
      flex-direction: row;

      padding: 1em;

      .duree {
        background-color: $font-3;
        backdrop-filter: blur(1em);
        -webkit-backdrop-filter: blur(1em);
        height: fit-content;
        padding: .5em;
        border-radius: 5em;
      }

      .info {
        width: 45%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        .rank {
          margin: .5em;
          width: 2em;
          height: 2em;
          background-image: url('../../../assets/icon/quality-svgrepo-com.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .part-1 {
          font-size: 1.2em;
          font-weight: 500;
        }

        .part-2 {
          font-size: 2.2em;
          font-weight: 500;
        }

        .part-3 {
          font-size: .8em;
          font-weight: 500;
        }
      }

      .titre {
        padding: .5em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .description {
          display: flex;
          flex-direction: column;
          gap: .5em;

          div {

            h3 {
              margin: 0;
              padding: .5em 0;
              line-height: 1.2em;
            }

            &>div {
              display: flex;
              flex-direction: row;
              gap: .5em;

              .lieu-icon {
                width: 1em;
                height: 1em;
                background-image: url('../../../assets/icon/hotel-1-svgrepo-com.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
              }
            }

            .reduc {
              font-size: 1.5em;
              font-weight: 500;
            }

            .normal {
              font-size: 1em;
              font-weight: 400;
            }

            .inclus {
              font-size: .8em;
            }

          }
        }
      }
    }
  }
}